.blocflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.blocflex__article {
        margin: 10px;
        padding: 5px;
        border : 1px solid #aaa;
        flex: 1 0 300px;
        background-color: #fff0d5;;
        text-align: center;
    }
    a {
        color: #ed9a09;
    }
    a:hover {
        color: black;
    }

.blocflex__galerie {
        flex: 1 0 100%;
        
    }