.blocflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding-top: 20px;
    padding-bottom: 40px;
}

.blocflex__article {
        margin: 10px;
        padding: 5px;
        border : 1px solid #aaa;
        border-radius: 5px;
        flex: 1 0 300px;
        background-color: rgb(243 239 239);
        text-align: center;
    }
    a {
        color: #590000; 
    }
    a:hover {
        color: #302421;
    }

.blocflex__galerie {
        flex: 1 0 100%;
        
    }
