.site__entete {
    text-align: center;

    a {
        color: #ed9a09;;
        text-decoration: none;
    }
}

.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faa20a;
}

.logomenu img {
    margin-left: 30px;
}

.menusearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
    gap: 30px;
    //flex-wrap: wrap;
}

// .recherche {
//     display: flex;
//     gap: 0;
// }

.menu-entete-container {
flex: 1;
//margin-left: 100px;

    .menu { //ul
        display : flex;
        justify-content: flex-end;
        //flex-wrap: wrap;
        list-style-type: none;
        //margin-left: auto;
        font-size: clamp(1.125rem, 1.0417rem + 0.2667vw, 1.375rem);
        gap: 30px;
    
    .menu-item { // li
        flex : 1 0 70px;
        min-width: 150px;
    
        a{
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: white;
        }
    
    }
    
    }
    
    
    }