.site__entete {

}

.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-entete-container {
flex: 1;

    .menu { //ul
        display : flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: auto;
        font-size: clamp(1.125rem, 1.0992rem + 1.7206vw, 3.25rem);
    
    .menu-item { // li
        flex : 1 0 70px;
    
        a{
            padding: 3px 5px;
            text-decoration: none;
            border: 2px solid rgb(215, 142, 5);
            border-radius: 8px;
            color: white;
            background-color: rgb(255, 178, 35);
        }
        a:hover {
            color : #000
        }
    
    }
    
    }
    
    
    }