.menu__bloc { //nav
    margin: 0 auto;
    .menu { //ul
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        list-style-type: none;
        .menu-item {  //li
            border: 1px solid rgb(243 239 239);
            border-radius: 5px;
            background-color: #590000;
            padding: 10px;
            flex: 1 0 33%;
            transition: all 0.2s ease-in-out;

            a {
                color: rgb(243 239 239);
                font-size: 1.5rem;
                text-decoration: none;
            }
        }

        .menu-item:hover {
            background-color: #ae3f26;
            box-shadow: 0 0 10px lightgray;
            transform: scale(1.02);


        }

    }

}