.menu__bloc { //nav
    margin: 0 auto;
    .menu { //ul
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        list-style-type: none;
        .menu-item {  //li
            border: 1px solid rgb(243 239 239);
            border-radius: 5px;
            background-color: #ae3f26;
            padding: 10px;
            flex: 1 0 33%;

            a {
                color: rgb(243 239 239);
                font-size: 2rem;
                text-decoration: none;
            }


        }

    }

}