.page-404 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('https://www.basiliquenotredame.ca/public/media/771d5f60-2808-11ed-9c95-b12f6befc00f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    border: 2px solid #ae3f26;
    color: #ae3f26;

    h1{
        font-size: 80px;
    }

    h2 {
        font-size: 25px;
    }
}

.recherche-404 input[type="search"] {
    width: 500px; 
    height: 40px; 
  }
  
.recherche-404  input::placeholder {
    font-size: 25px; 
  }
  

// .nb-404 {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     height: 15%;
    
//     p{
//         font-size: 200px;
//     }
// }