ul,ol{

}
strong, b { //: le texte en gras

} 
em, i { //: le texte en italique

}    
a { //: les liens hypertexte

} 
ul, li { //: les listes à puces

}
code { //: le texte en code

}
hr { //: la ligne de séparation horizontale
    
}

.site__main {
    text-align: center;
    
    li {
        list-style: none;
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 52px;
        color: #ae3f26;
    }

    h2 {
        font-size: 40px;
        color: #ae3f26;

    }

    h3 {
        font-size: 20px;
        color: #590000;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

}
